* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

/* Masonry gallery */
.gallery {
  column-count: 3;
  column-gap: 25px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Image wrapper */
.img-wrap {
  position: relative;
  margin-bottom: 25px;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Watermark */
.watermark {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Cinzel', serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 12px;
    text-transform: uppercase;

    color: rgba(255,255,255,0.14);
    pointer-events: none;
}




/* Responsive */
@media (max-width: 1024px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
}




.categories {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white; /* ili boja koju koristiš */
    cursor: pointer;
    transition: color 0.3s;
}

.title:hover {
    color: #c9a46b; /* boja pri prelasku mišem */
}
